
  <header class="p-3 mb-3 border-bottom">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">About</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Customers</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Products</a></li>
      </ul>

     

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </header>

  <div class="container">

  <div class="row pt-3 pb-5">

    <div class="col-md-6 pb-3 text-right">
      <a href="#" class="btn btn-dark">View cart (2)</a>
    </div>

    <div class="col-md-6 pb-3 text-right">

      <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Select Categories
        </button>
        <ul class="dropdown-menu" *ngFor="let category of productList">
          <li><a class="dropdown-item" href="#">{{ category.p_category }}</a></li>
        </ul>
      </div>
    </div>


  </div>

    <div class="row justify-content-md-center">
      <div class="col-6">
    
        <div class="card" *ngFor="let item of productList;">
          <img src="{{ item.p_image }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ item.p_name }}</h5>
            <div class="row pb-4 pt-2">
              <div class="col">
                <h5>{{ item.p_cost | currency:'INR' }}</h5>
              </div>
              <div class="col text-right">
                <h5>Availability : {{ item.p_availability }}</h5>
              </div>
            </div>
            <div class="col text-left">
              <h6>Description : {{ item.p_details }}</h6>
            </div>
            <a href="#" class="btn btn-sm btn-outline-secondary" (click)="addtoCart()">Add to cart</a>
            <a href="#" class="btn btn-sm btn-outline-secondary">Buy</a>
          </div>
        </div>
  
  
    </div>
     
    </div>
  </div>

    <!-- <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <div class="card" *ngFor="let item of productList;">
          <img src="{{ item.p_image }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ item.p_name }}</h5>
            <div class="row pb-4 pt-2">
              <div class="col">
                <h5>{{ item.p_cost | currency:'INR' }}</h5>
              </div>
              <div class="col text-right">
                <h5>Availability : {{ item.p_availability }}</h5>
              </div>
            </div>
            <div class="col text-left">
              <h6>Description : {{ item.p_details }}</h6>
            </div>
            <a href="#" class="btn btn-sm btn-outline-secondary" (click)="addtoCart()">Add to cart</a>
            <a href="#" class="btn btn-sm btn-outline-secondary">Buy</a>
          </div>
        </div>
      </div>
     
      <div class="col">
      </div>
  </div> -->

  <!-- <div class="row pt-3 pb-5">
    <div class="col-sm-4 mt-sm-20">
      <div class="card" *ngFor="let item of productList;">
        <img src="{{ item.p_image }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ item.p_name }}</h5>
          <div class="row pb-4 pt-2">
            <div class="col">
              <h5>{{ item.p_cost | currency:'INR' }}</h5>
            </div>
            <div class="col text-right">
              <h5>Availability : {{ item.p_availability }}</h5>
            </div>
          </div>
          <div class="col text-left">
            <h6>Description : {{ item.p_details }}</h6>
          </div>
          <a href="#" class="btn btn-sm btn-outline-secondary" (click)="addtoCart()">Add to cart</a>
          <a href="#" class="btn btn-sm btn-outline-secondary">Buy</a>
        </div>
      </div>
    </div>
  </div> -->

  