
body{
    font-family: "Nunito Sans";

    }
    img{
    height: 100%;
    transition: all 0.30s ease-in-out;
    }
    .card{
      border:0px;
    }
    img:hover{
    transform: translateY(0px) scale(0.8);
    }
    .btn-block{
    background-color: #dabfec;
    color: #fff;
    }
    .btn-block:hover{
    color: #fff;
    background-color: #dabfec;
    }
    @media(max-width: 992px){
      .mt-md-20{
        margin-top: 20px;
      }
    }
    @media(max-width: 768px){
      .mt-sm-20{
        margin-top: 20px;
      }
    }
    @media(max-width: 576px){
      .container{
        max-width: 90%;
      }
    }


    


    

    